#ChangelogDialog {
	display: none;
}

	#ChangelogDialog h2 {
		font-size: 16px;
		border-bottom: 1px solid #CCC;
		line-height: 24px;
		margin-bottom: 8px;
	}

	#ChangelogDialog h3 {
		font-size: 14px;
		margin-bottom: 6px;
	}

	#ChangelogDialog p {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 15px;
	}

	#ChangelogDialog label {
		font-size: 12px;
		margin-bottom: 2px;
		display: block;
	}

	#ChangelogDialog .middleColumn {
		background: #E9E9E9;
		padding: 4px;
	}

		#ChangelogDialog input {
			border: 1px solid #A7A7A7;
			padding: 3px;
			font-size: 13px;
			width: 98%;
		}